// ==========================================================================
//	@todo
//	1. feature/manifest.scss > partial
//	2. global variables > colour,widths,heights etc
//	3. helpers eg. visually hidden
// ==========================================================================

// ==========================================================================
// Variables
// ==========================================================================

$primary-colour: #008FC5;
$primary-colour-hover: #00AAE5;
$secondary-colour: #999;
$secondary-colour-hover: #666;
$success-colour: #629512;
$success-colour-hover: #6EA614;
$warning-colour: #A61A00;
$warning-colour-hover: #C91F00;

.visuallyhidden {
	display: none;
}
.js-hidden {
  display: none;
}

.content.container {
  overflow: visible;
}
// ==========================================================================
// Date pattern
// ==========================================================================

// Hide the 'spinner' for webkit
// and also for Firefox
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0
}
input[type=number] {
  -moz-appearance: textfield
}

.form-date {

  .form-group {
    float: left;
    width: 50px;

    margin-right: 20px;
    margin-bottom: 0;
    clear: none;

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
    }

  }

  .form-group-year {
    width: 70px;
  }

}
// ==========================================================================
// IFG Specific Styles for customer interfaces */
// ==========================================================================

/* Radio/check blocks with large hit areas*/
.block-label {
  display: block;
  float: none;
  clear: left;
  position: relative;
  background: #dee0e2;
  border: 1px solid #dee0e2;
  padding: 17px 30px 17px 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  //margin-left: 3px;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
  }
}
  @media (min-width: 480px) {
    .block-label {
      float: left;
      margin-top: 5px;
      margin-bottom: 5px; } }
  .block-label input {
    position: absolute;
    top: 18px;
    left: 15px;
    cursor: pointer;
    width: auto !important;
    height: auto !important;
     }
  .block-label:hover {
    border-color: #0b0c0c; }

.inline .block-label {
  clear: none;
  margin-right: 10px; }

.inline .block-label:first-of-type {
  margin-left:3px;
}

.selected {
  background: #fff;
  border-color: $primary-colour-hover; }

 label.focused {
  box-shadow: 0px 0px 1px $primary-colour inset; }

.focused input:focus {
  outline: none; }

 label.block-label {
 	font-size: 19px;
 	line-height: 1.31;
 }

/* A row for radio inputs */
 .form-row {
 	width: 100%;
 	float: left;
	margin-bottom: 30px;
 }

 .form-row.error {
 	padding-left: 19px;
 	border-left: 3px solid #A61A00;
 	border-radius: 1px;
 }

 .validation-message {
	font-size: 16px;
	line-height: 1.25;
	font-weight: 400;
	text-transform: none;
	display: block;
	color: #A61A00;
 }

 .supporting-text {
 	display: block;
 	line-height: 1.25;
 	font-size: 16px;
 	margin-bottom: 16px;
 }

 // ==========================================================================
//  Back Link
// ==========================================================================

 p.back-link {
 	margin-top: 0;
 }

 a.back-link {
 	//margin-top: 10px;
 	margin-bottom: 30px;
 	display: inline-block;
 	&:focus {
 		//border: 2px solid transparent;
 		outline: 2px solid #D0E9FC;
 		background: #D0E9FC;
 	}
 }

 a:focus {
 	outline: 2px solid #D0E9FC;
 }

// ==========================================================================
//	GOV Flex Grid
// ==========================================================================

.column-quarter {
    //padding: 0 15px;
    box-sizing: border-box
}
@media (min-width: 641px) {
    .column-quarter {
        float: left;
        width: 25%
    }
}
.column-half {
    //padding: 0 15px;
    box-sizing: border-box
}
@media (min-width: 641px) {
    .column-half {
        float: left;
        width: 50%
    }
}
.column-third {
    //padding: 0 15px;
    box-sizing: border-box
}
@media (min-width: 641px) {
    .column-third {
        float: left;
        width: 33.33333%
    }
}
.column-two-thirds {
    //padding: 0 15px;
    box-sizing: border-box
}
@media (min-width: 641px) {
    .column-two-thirds {
        float: left;
        width: 66.66667%
    }
}

// ==========================================================================
//	Business Menu
// ==========================================================================

.branding.no-bottom-margin {
	margin-bottom:0;
	border-bottom: none;
}

.business-menu {
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}
.business-links {
    font-size: 16px;
    line-height: 1.25;
    padding: 10px 0
}
.business-links li {
    margin-bottom: 10px
}

nav {
	ul {
		display: inline;
		list-style: none;
		//padding: 0;
		margin:0;
		li {
			display: inline-block;
			margin-right: 10px;
		}
	}
}

// ==========================================================================
//	Admin Styles
// ==========================================================================

.licence-expired,
.licence-concession,
.licence-juvenile {
	border-radius: 2px;
	padding: 1px 2px;
	font-size: .8em;
}

.licence-expired {
	background: $warning-colour;
	color: #fff;
}

.licence-concession {
	background: $success-colour;
	color: #ffffff;
}

.licence-juvenile {
	background: $primary-colour;
	color: #fff;
}

// ==========================================================================
//  Tables
// ==========================================================================

table.standard {
  h2 {
    margin:0;

    a {
      text-decoration: underline;
      color: $secondary-colour;
    }
  }
  p.intro,
  p {
    margin-bottom: 0;
  }
}

.table-total-label {
  text-align:right;
  font-size:1.2em;
  font-weight:bold;
}

.table-total {
  font-size:1.2em;
  font-weight:bold;
}

// ==========================================================================
//  AJAX Spinner / Loader
// ==========================================================================

.loading {
    background-color: #fff;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11
}

.loading:before,
.loading:after {
    background: #fff;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 50%
}

.loading:before {
    left: -50%
}

.loading:after {
    right: -50%
}

.loading-spinner {
    background-image: url("/images/loading.gif");
    display: block;
    position: absolute;
    top: 150px;
    left: 50%;
    height: 36px;
    margin-top: -18px;
    margin-left: -18px;
    width: 36px;
    text-indent: -999em;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 20 / 10),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .loading-spinner {
        background-image: url("/images/loading-2x.gif");
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -webkit-background-size: 100%;
        background-size: 100%
    }
}

// ==========================================================================
//  Form - Legend
// ==========================================================================

.instruction {
  border-bottom: none;
  margin-bottom: .25em;
  line-height: 1.4;
}

// set character limit
.text {
  max-width: 40em;
}

//gutter-bottom
.gutter-bottom {
  margin-bottom: 30px;
  float: left;
}

//label-large
.label-large {
  font-size: 22px;
  border-bottom: none;
  font-weight: bold;
  color: #444;
  margin-bottom: 0;
}

fieldset h2,
.control-group h2 {
  padding-bottom: .7em;
  line-height: 1.4;
  max-width: 30em;
}

// ==========================================================================
//  Inline Validation
// ==========================================================================

.form-group-compound.error-inner {
  width: auto;
  padding-right: 15px;
}

// ==========================================================================
//  Rounding override for a.btn
// ==========================================================================

a.btn {
  padding: 0.5em 1em;
}

// ==========================================================================
//  Fieldset Type
// ==========================================================================

fieldset,
.control-group {
  h2,h3 {
    margin-top: 0;
    margin-bottom: .1em;
  }
}

fieldset.error-inner {
  padding-right: 15px;
}

// ==========================================================================
//  Better validation for a more consistent experience
// ==========================================================================

.validation {
  padding: .5em 1em 1em;
  border-left: 3px solid rgb(206,72,68);
  //background: rgba(206,72,68, .03);

  .validation-error {
    display: block;
    color: rgb(206,72,68);
  }
}

@media (max-width: 480px) {
  .validation {
    padding: .5em 0em 1em 10px;
  }

  input,
  select,
  textarea {

    width: 95% !important;
  }

}

.hint-text {
  display: block;
  color: #333;
  font-size: .85em;
}

.validation-summary {
  h2 {
    margin-top: 0;
    color: rgb(206,72,68);
    font-size: 1.4em;

    img {
      position: relative;
      top: -2px;
    }
  }
  p {
    margin-bottom: 0;
  }
  border: 3px solid rgb(206,72,68);
  background: rgba(206,72,68, .02);
  padding: 1em;
  max-width: 40em;
  ul {
    margin-bottom: 0;
  }

  li {
    color: rgb(206,72,68);
    font-weight: bold;
  }

  a {
    color: rgb(206,72,68);
    font-weight: bold;
    &:hover {
      color: #333;
    }
  }
}

.form {
  width: 100%;
  margin: 1.5em 0;

  .control-group {
    margin-bottom: 1.5em;
  }
}

.form-label {
  font-size: 19px;
}

.form-label-sm {
  font-size: 14px;
}

.form-date {
  .form-label {
    margin-bottom: 2px;
  }
}

// ==========================================================================
//  Fixing UXM max widths for responsive
// ==========================================================================

@media (max-width: 480px) {

  form input,
  form select,
  form textarea {
    max-width: 99% !important;
  }
}

.select-security-question {
  width: auto;
  max-width: 358px !important;
}

input[type="button"].disabled,
button.disabled {
  background: #999 !important;
}

form .info-notice {
  width: auto;
  margin-top: 10px;
}

/* Media query for sub menu on account management */
@media (max-width: 767px) {
    .accountSideMenu ul li {
        display: inline-block;
        width: auto !important;
        margin-right: 10px;
        float: left;
        padding-bottom: 3px;
    }
}

/* account management form - no margin-top */

.form.account-management {
    margin-top: 0;
}

.activeAccountMenuItem {
    /*font-weight: bold !important;*/
}

.account-management-container .validation-summary {
    max-width: 90%;
}

@media (max-width: 480px) {
    .account-management-container .validation-summary {
        max-width: 85%;
    }
}

.break-word {
    word-wrap: break-word;
}

.mem-inf {
    width: 50px !important;
}

p.ul {
  margin-bottom: 0;
}

.margin-bottom {
  margin-bottom: 15px;
}

/*
    Bootstrap Prepended Input for UXM
*/

.add-on {
    float: left;
}

.input-prepend input[type="text"] {
    min-height: 28px;
}

.add-on {
    display: inline-block;
    width: auto;
    min-height: 22px;
    min-width: 16px;
    padding: 5px 5px 3px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #eeeeee;
}

.add-on-valid {
    border: 1px solid #999999;
}

.add-on-invalid {
    border: 1px solid #b94a48;
}

.prepended-input {
    border-left: none !important;
    max-width: 312px;
}
